@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Constant */
  --color-yellow-100: #fef9c3;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;

  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-800: #166534;

  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-900: #312e81;
  --color-indigo-950: #312e81;

  --tab-overlay-right: 0rem;

  &,
  &.dark-mode {
    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;

    --color-gray-400: #9ca3af;
    --color-gray-900: #111827;

    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;

    --shadow-color: #1e293b;

    --image-grayscale: 10%;
    --image-opacity: 90%;
  }

  &.light-mode {
    --color-slate-50: #0f172a;
    --color-slate-100: #1e293b;
    --color-slate-200: #334155;
    --color-slate-300: #475569;
    --color-slate-400: #64748b;
    --color-slate-500: #94a3b8;
    --color-slate-600: #cbd5e1;
    --color-slate-700: #e2e8f0;
    --color-slate-800: #f1f5f9;
    --color-slate-900: #f8fafc;

    --color-gray-400: #6b7280;
    --color-gray-900: #f3f4f6;

    --color-red-100: #fff1f2;
    --color-red-200: #fecdd3;
    --color-red-600: #e11d48;
    --color-red-700: #be123c;
    --color-red-800: #9f1239;

    --shadow-color: #94a3b8;

    --image-grayscale: 0;
    --image-opacity: 100%;
  }
}

@layer base {
  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
  }
  progress[value]::-webkit-progress-bar {
    background-color: var(--color-slate-200);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color: var(--color-slate-800);

    border-radius: 2px;
    background-size:
      35px 20px,
      100% 100%,
      100% 100%;
    /* transition: all ease-in-out 200ms; */
  }
}

@layer components {
  .nav-link {
    &:hover,
    &:active,
    &.active:link,
    &.active:visited {
      color: var(--color-slate-200);
      background-color: var(--color-slate-800);
      /* rounded-xl */
      border-radius: 0.75rem;
    }

    & svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-slate-500);
      transition: all 0.3s;
    }

    &:hover svg,
    &:active svg,
    &.active:link svg,
    &.active:visited svg {
      color: var(--color-indigo-700);
    }
  }

  .exit {
    & svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-slate-500);
      transition: all 0.3s;
    }

    &:hover svg {
      /* text-red-600 */
      color: var(--color-red-600);
    }
  }

  .body-scroll-lock {
    @apply overflow-hidden sm:overflow-auto;
  }
}

@layer utilities {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 1.6s ease-in-out infinite;
  }
}
